.userScoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 33%;
    height: 100%;
    background: #FBFBFB;
    border-radius: 6px;
}

.userScoreTitle {
    position: absolute;
    top: 16px;
    left: 32px;

    font-size: 15px;
    font-weight: 500;
    color: #20253A;
}

.userScoreLabel {
    position: absolute;
    text-align: center;
    
    font-size: 1rem;
    font-weight: 500;
    color: #74798C; 
}

.userScoreValue {
    font-size: 26px;
    font-weight: 700;
    color: #282D30;
}

@media (max-height: 900px) {
    .userScoreLabel {
        font-size: 12px;
    }

    .userScoreValue {
        font-size: 16px;
    }

    .userScoreTitle {
        top: 4px;
    }
}