.userScoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* width: 258px; */
    width: 33%;
    height: 100%;
    padding: 1rem;
    background: #FBFBFB;
    border-radius: 6px;
}

.userScoreTitle {
    position: absolute;
    top: 16px;
    left: 32px;

    font-size: 15px;
    font-weight: 500;
    color: #20253A;
}

.userScoreLabel {
    position: absolute;
    text-align: center;
    
    font-size: 1rem;
    font-weight: 500;
    color: #74798C; 
}

.userScoreValue {
    font-size: 26px;
    font-weight: 700;
    color: #282D30;
}

@media (max-width: 1380px) {
    .userScoreContainer {
        min-width: 150px;
        min-height: 150px;
    }
}