.main_content {
    display: flex;
    height: 90vh;
}

.user_content {
    padding: 60px 90px;
}

.user_charts {
    display: flex;
}

.user_charts_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}