.main_content {
    width: 100vw;
    height: 90vh;
    display: flex;
}

.user_content {
    width: 100%;
    max-width: 1126px;
    max-height: 779px;
    margin: 60px 100px;
    display: flex;
    flex-direction: column;
}

.user_infos {
    display: flex; 
    height: 100%;
    max-width: 1400px;
    max-height: 680px;
    margin-top: 30px;
    gap: 0 30px;
}

.user_infos_charts {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user_infos_keyData {
    flex: 30%;
    display: flex;
}

.user_charts_daily {
    min-width: 650px;
    max-height: 320px;
    height: 60%;
 }

.user_charts_cards {
    min-width: 650px;
    max-height: 263px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
} 

@media (max-height: 900px) {
    .user_charts_cards {
        height: 38%;
    }
}

@media (max-width: 1100px) {
    .user_infos {
        margin-top: 10px;
    }

    .user_content {
        margin: 30px 30px 0;
    }
}


/* Medium screen sizes */
@media (max-width: 1360px) {
    .user_content {
        margin: 30px 30px 0;
    }

    .user_infos {
        height: 70%;
        gap: 0 10px;
    }

    .user_charts_cards {
        max-height: 200px;
        gap: 0 10px;
    }
}

/* 50/50 space for graphs*/
@media (max-width: 1600px) {
    .user_infos_charts, 
    .user_infos_keyData {
        flex: 50%;
    }
}


/* Larger screen sizes */
@media (min-width: 1600px) {
    .user_content {
        margin: 60px auto;
        max-width: 1400px;
    }
}